In [69]:
import pandas as pd 
import numpy as np

In [70]:
df = pd.read_csv('Tweets.csv')

df.shape

(14640, 15)

Dropping the rest of the columns except the airline_sentiment column and the text column

In [71]:
df = df[["airline_sentiment", "text"]]
df

      airline_sentiment                                               text
0               neutral                @VirginAmerica What @dhepburn said.
1              positive  @VirginAmerica plus you've added commercials t...
2               neutral  @VirginAmerica I didn't today... Must mean I n...
3              negative  @VirginAmerica it's really aggressive to blast...
4              negative  @VirginAmerica and it's a really big bad thing...
...                 ...                                                ...
14635          positive  @AmericanAir thank you we got on a different f...
14636          negative  @AmericanAir leaving over 20 minutes Late Flig...
14637           neutral  @AmericanAir Please bring American Airlines to...
14638          negative  @AmericanAir you have my money, you change my ...
14639           neutral  @AmericanAir we have 8 ppl so we need 2 know h...

[14640 rows x 2 columns]

Preprocessing

In [80]:
import nltk 
import string 
import re 

from nltk.stem.porter import PorterStemmer

nltk.download('stopwords')
from nltk.corpus import stopwords

nltk.download('punkt')

ps = PorterStemmer()

def clean_text(text):
    
    text = text.lower()
    text = re.sub(r'http.?://[^\s]+[\s]?', '', text)
    text = nltk.word_tokenize(text)

    y = []
    
    for i in text:
        
        if i not in stopwords.words('english'):
            y.append(i)
            
    text = y[:]
    y.clear()
    
    for i in text:
        
        y.append(ps.stem(i))
        
    return " ".join(y)

df['text_cleaned'] = df['text'].apply(clean_text)
df['text_cleaned'].value_counts
df.head(0)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\romol\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\romol\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

Empty DataFrame
Columns: [airline_sentiment, text, text_cleaned]
Index: []

In [81]:
from sklearn.feature_extraction.text import TfidfVectorizer

,airline_sentiment,text,text_cleaned
0,neutral,@VirginAmerica What @dhepburn said.,@ virginamerica @ dhepburn said .

In [79]:
tf_vec = TfidfVectorizer(max_features=3000)
x = tf_vec.fit_transform(df['text_cleaned'])
df['text_cleaned']
y = df['airline_sentiment'].values
x.shape

(14640, 3000)

In [75]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(x , y , test_size=0.2 , random_state=2)

In [77]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB() 
model.fit(x_train , y_train)

MultinomialNB()

In [78]:
from sklearn.metrics import accuracy_score

y_pred = model.predict(x_test) 
print(accuracy_score(y_test , y_pred))

0.7219945355191257

In [ ]:
y_train.shape

(11712,)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score




model = RandomForestClassifier() 
model.fit(x_train , y_train)
y_pred = model.predict(x_test)

print(accuracy_score(y_test , y_pred))

0.7472677595628415

In [83]:
df.groupby('airline_sentiment').describe()

                   text         \
                  count unique
airline_sentiment
negative           9178   9087
neutral            3099   3067
positive           2363   2298

                                                                           \
                                                                 top freq
airline_sentiment
negative           @AmericanAir that's 16+ extra hours of travel ...    2
neutral                                           @SouthwestAir sent    5
positive                                            @JetBlue thanks!    5

                  text_cleaned         \
                         count unique
airline_sentiment
negative                  9178   9083
neutral                   3099   3025
positive                  2363   2262


                                                                 top freq
airline_sentiment
negative           @ americanair fyi ... call still get drop . ho...    2
neutral            @ jetblu 's ceo battl appeas passeng wall stre...    8
positive                                            @ jetblu thank !   12

In [84]:
x.shape

(14640, 3000)